body {
  margin:0;
  font-family: Raleway;
  background-color: #f3ebd2;
}

header{
  margin:0;
  background-color: #cdd6f2;
  height: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.65fr;
}

#grid-col-1,
#grid-col-2,
#grid-col-3 {
  margin:10px;
  padding: 1em;
}
