body {
  margin:0;
  font-family: Raleway;
  background-color: #f3ebd2;
}

header{
  margin:0;
  background-color: #cdd6f2;
  height: 100px;
  border-bottom: 1px solid #cccccc;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.65fr;
  grid-column-gap: 5%;
  margin: 5% 2% 5% 2%;
}

#grid-col-1,
#grid-col-2,
#grid-col-3, {
  margin:10px;
  padding: 1em;
}

h1 {
  margin:0;
  text-align: center;
  font-family: Train One;
  font-size: 4.5em;
  display: block;
  color: #ffff99;
}

h2 {
  margin: 5% 10% 5% 10%;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px inset #808080;
  text-align: center;
  font-family: Dela Gothic One;
  letter-spacing: 3px;
  background: lightgrey;
  color: #595959;
}

h3 {
  text-align: center;
  margin:0;
  font-family: Chango;
}

#deck-list li {
  list-style: none;
  transition: 0.3s;
}

.new-form {
  margin-left: 40px;
  padding: 1em;
}

#deck-container,
#card-container,
#new-form-container {
  min-height: 375px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px grey;
}

.edit-deck-form,
.edit-card-form {
  min-height: 275px;
  border-radius: 25px;
  background-color: #ffd27f;
  color: white;
  margin-bottom: 5px;
  padding: 30px;
  border: 1px solid #e0e0e0;
  box-shadow: 5px 5px 5px grey;
}

.edit-deck-form h3,
.edit-card-form h3 {
  padding: 20px;
  letter-spacing: 3px;
}

.edit-deck-form button {
  margin: 10px;
}

#deck-container {
  background-color: #8c8c8c;
  color: white;
  padding: 5px;
}

#card-container {
  background-color: #d9c1b8;
  color: white;
  padding: 10px;
  box-shadow:
}

#new-form-container {
  background-color: #d1d9b8;
  color: white;
}

.btn,
.edit-deck-button,
.edit-card-button,
.delete-deck-button,
.delete-card-button {
  border-radius: 8px;
  margin: 5px;
  border-style: none;
  padding: 7px;
  font-family: Raleway;
  outline: none;
  transition: 0.2s;
}

.btn:hover,
.edit-deck-button:hover,
.edit-card-button:hover,
.delete-deck-button:hover,
.delete-card-button:hover {
  font-weight: bolder;
  font-size: 15px;
  box-shadow: 3px 3px;
  cursor: pointer;
}

.btn:active,
.edit-deck-button:active,
.edit-card-button:active,
.delete-deck-button:active,
.delete-card-button:active {
  transform: translateY(4px);
  box-shadow: none;
}

.btn:focus,
.edit-deck-button:focus,
.edit-card-button:focus,
.delete-deck-button:focus,
.delete-card-button:focus {
  outline: none;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
  font-family: Raleway;
}

.card-question {
  color: black;
  transition: 0.3s;
}

.card-question:hover,
#deck-list li:hover {
  font-weight: bolder;
  color: #ffff7f;
  cursor: pointer;
}

.card-answer {
  color: #7f0000;
  padding-right: 10px;
  line-height: 1.6em;
  font-size: 0.9em;
}

#card-list-header {
  color: #323232;
  font-size: 2em;
  font-weight: bolder;
}

select {
  font-family: Raleway;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  outline:none
}

select:focus {
  outline:none
}

select:hover {
  cursor: pointer;
}
